<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Зарегистрируйтесь</title>
</head>
<body>
<h1>Зарегистрируйтесь</h1>
<form action="/registration" th:object = "${user}" method="post">
    <diiv style="color: red" th:if = "${error != null}" th:text = "${error}"></diiv>
    <div><label> Логин : <input type="text" name="login"/> </label></div>
    <div><label> Пароль: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Зарегистрироваться"/></div>
</form>
</body>
</html>